<?xml version='1.0' encoding='utf-8'?>
<!--
  WiX v4/v7 source for the minipro Windows MSI installer.
  Build with: dotnet build main.wixproj -p:ProductVersion=X.Y.Z
  Source paths are relative to this file's directory (crates/minipro-cli/wix/).
-->
<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
  <Package
    Name='minipro'
    Manufacturer='minipro-rs contributors'
    Version='$(var.ProductVersion)'
    UpgradeCode='5C6D2F1A-3B4E-4F2A-8C9D-1A2B3C4D5E6F'
    Scope='perMachine'>

    <MajorUpgrade
      DowngradeErrorMessage='A newer version of minipro is already installed. Setup will now exit.'/>

    <MediaTemplate EmbedCab='yes'/>

    <StandardDirectory Id='ProgramFiles64Folder'>
      <Directory Id='APPLICATIONFOLDER' Name='minipro'>

        <Component Id='License' Guid='*'>
          <File Id='LicenseFile' Name='LICENSE'
            Source='../../../LICENSE'
            KeyPath='yes'/>
        </Component>

        <Directory Id='BinDir' Name='bin'>
          <Component Id='Binary' Guid='*'>
            <File Id='minipro.exe' Name='minipro.exe'
              Source='../../../target/x86_64-pc-windows-gnu/release/minipro.exe'
              KeyPath='yes'/>
            <Environment
              Id='PATH' Name='PATH' Value='[BinDir]'
              Permanent='no' Part='last' Action='set' System='yes'/>
          </Component>
        </Directory>

      </Directory>
    </StandardDirectory>

    <Feature Id='DefaultFeature' Title='minipro' Level='1'>
      <ComponentRef Id='License'/>
      <ComponentRef Id='Binary'/>
    </Feature>

  </Package>
</Wix>
